@import "tailwindcss";



* {
  font-family: "Vibes", system-ui;
  font-style: normal;
}




.lemonada-uniquifier{
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
  background-color: #000000;
  overflow-y: hidden;
}


.glowing-bg{
  border-radius: 50%;
    box-shadow:
    0 0 90px 50px #ffffff,
    0 0 90px 40px rgb(247, 204, 76),
    0 0 190px 60px rgb(225, 211, 61);
}

